pipeline/ArrayToStringNoOP.json
{
	"name": "ArrayToStringNoOP",
	"properties": {
		"description": "Concat Funtion with Loop",
		"activities": [
			{
				"name": "EmpInfoEmailCSV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "EmpInfoEmail.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ParaCon1",
						"type": "DatasetReference",
						"parameters": {
							"folderName": "Bronze"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachEmail",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "EmpInfoEmailCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('EmpInfoEmailCSV').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set tmpEmail",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tmpEmail",
								"value": {
									"value": "@concat(item().Email,',',variables('Email'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set Email",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set tmpEmail",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Email",
								"value": {
									"value": "@variables('tmpEmail')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Email": {
				"type": "String"
			},
			"tmpEmail": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Real Life Scenarios"
		},
		"annotations": []
	}
}